.logo {
  width: 163px;
  height: 163px;
  margin-top: 37px;
  background-image: url('../../../images/logo-preview.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  text-align: center;
}

.logo::before {
  position: absolute;
  background-color: #000000;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  opacity: 0.6;
}
