body {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: #FFFFFF;
}

.content {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-input {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border: 1px solid #CCCCCC;
  border-radius: 1em;
  font-size: 125%;
}

.search-input:focus-visible {
  outline: 1px solid #000000;
}

.table-sorted {
  width: 100%;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}

.table-sorted td, .table-sorted th {
  border: 1px solid #CCCCCC;
  padding: 1em;
  vertical-align: top;
}

.table-sorted th {
  background: #F0F0F0;
}

.table-sorted th:hover {
  cursor: pointer;
}

/* Небольшой фикс для предотвращения переноса стрелки на следующую строку */
[data-sort]::after {
  display: inline-block;
  width: 1em;
  margin-right: -1em;
}
[data-sort="inc"]:after {
  content: ' ↑';
  color: #00CC00;
}
[data-sort="dec"]:after {
  content: ' ↓';
  color: #CC0000;
}
